.impactMain {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0rem 3rem 1rem;
    color: #2F8F9D;
}
.impactHeader {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}
.impactHeader h1{
    font-size: 50px;
    margin-left: -150px;
    margin-right: 50px;
}

.impactHeader small {
    text-align: end;
    font-size: 10px;
    margin-right: 50px;
}

.impactContent {
    display: flex;
    flex-direction: column;
    gap: 15rem;
    margin-top: 50px;
}

.lines {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -30px;
    margin-left: -200px;
}

.lineBetween {
    height: 10px;
    background-color: #2F8F9D;
    width: 100%;
    margin-left: -2px;
    /* width: 40vw; */
    /* margin-left: 100px; */
    /* margin-right: 100px; */
}

.leftCircle {
    padding: 1rem;
    background-color: #2F8F9D;
    border-radius: 50%;
    /* margin-left: -100px; */
}

.rightCircle {
    width: 3rem;
    height: 6rem;
    background-color: #2F8F9D;
    border-radius: 3rem 0 0rem 3rem;
    border-bottom: transparent;
    text-align: end;
    /* margin-right: -100px; */
}

.impactContent2 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: -100px;
}
.impactContent2 p{
    font-size: 25px;
    color: #808080;
}
.impactContentImage {
    display: flex;
    gap: 2rem;
    align-items: center;
    font-weight: bold;
}

.impactImage {
    height: 100px;
    width: 100px;
}