.footerClass{
    background-color: #000;
    width: 100%;
    padding: 5rem 3rem;
    color: rgba(47, 143, 157, 1);
    display: flex;
    justify-content: space-between;
}
.footerDetails{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 50%;
}
.footerLogoIcons{
    display: flex;
}
.footerNameIcons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footerIcons{
    display: flex;
    gap: 2.5rem;
    font-size: 35px;
}
.footerIcons p{
    cursor: pointer;
}
.footerDetailaLink{
    display: flex;
    justify-content: space-between;
}
.footerFirstLink{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footerAbout{
    font-size: 35px;
}
.footerAllLinks{
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
}
.footerForm{
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #2F8F9D;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px;
}
.footerFormHeader{
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px rgb(0, 0, 0);
}
.inputFields{
    width: 100%;
    border-radius: 30px;
    border: none;
    padding: 1rem;
}
.footerFormButton button{
    padding: 1rem 2rem;
    border-radius: 50px;
    background-color: #2F8F9D;
    border: 5px solid #fff;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-size: 20px;
}
@media screen and (max-width:1000px) {
    .footerClass{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .footerDetailaLink{
        display: flex;
        justify-content: space-between;
    }
    .footerDetails{
        width: 100%;
    }
}
@media screen and (max-width: 650px) {
    .footerClass{
        padding: 5rem 1rem;
    }
    .footerLogoIcons{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}